.authBackgroundContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.authBackgroundContainer div{
    height: 100%;
    width: 50%;
}

#authBackgroundLeftContainer{
    background-color: #E15554;
}

#authBackgroundRightContainer{
    background-color: #fff;
}