
.authPageCardContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.authPageCard{
    width: 400px;
    height: 450px;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 21px 8px rgba(0,0,0,0.23); 
    box-shadow: 5px 5px 21px 8px rgba(0,0,0,0.23);
    /* position: absolute; */
}

.authCardHeaderContainer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.authCardHeaderText{
    font-size: 24px;
    font-weight: normal;
}

.authCardHeaderAccent{
    width: 20px;
    height: 4px;
    background-color: #E15554;
    border-radius: 5px;
}

.authPageFormContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}