.buttonContainer{
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #E15554;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.buttonContainer:hover{
    cursor: pointer;
}

.buttonText {
    color: #fff;
    font-weight: bold;
    font-weight: 18px;
}