.textInputFieldContainer{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.25px solid #BDBDBD;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.textInputFieldInputField{
    border: 0;
    font-size: 18px;
    font-weight: normal;
    flex: 6;
}

.textInputFieldIcon{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #E15554;
}

.textInputFieldIconContainer{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

::placeholder {
    color: #9E9E9E;
    font-size: 18px;
    font-weight: normal;
  }